/modelBased/wandb/
wandb/
outputs/
.env
.codex/
.vscode/

# Ignore Python bytecode files
__pycache__/

*.py[cod]

# Ignore JetBrains IDE settings
.idea/

# ignore visualisation files
modelBased/visulization
generator/visualize

# ignore model files
modelBased/models/
modelBased/log/
lightning_logs
*.ckpt


# ignore trainer files
trainer/logs
trainer/data
trainer/results
trainer/*.png
trainer/experiments_visualization.ipynb
my_research_project.egg-info/
trainer/experiments_visualization.ipynb
